
SERVER_PORT=



DB_URL=
DB_USERNAME=
DB_PASSWORD=
DDL_AUTO=




JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=


REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

